/consul/config/acl.hcl
/consul/.management-token
/consul/data/
/pika/conf/pika.conf
/pika/db/
/pika/log/
/mysql/mysql/
/mongodb/mongo/
/mongo/
/mongo7/
/kafka/data/
/redis/redis/
/redis/redis-stack/
/postgres/postgres/
/kong.yaml
/alertmanager/alertmanager.yml
/prometheus/etc/prometheus.yml
/prometheus/etc/alert_rules.yml
/prometheus/data/
