global:
  scrape_interval: 15s
  evaluation_interval: 15s

alerting:
  alertmanagers:
    - static_configs:
        - targets: ["alertmanager:9093"]

rule_files:
  - /etc/prometheus/alert_rules.yml

scrape_configs:
  - job_name: prometheus
    static_configs:
      - targets: ["prometheus:9090"]

  # node-exporter 这里用 host 网络模式，默认暴露在宿主机 9100
  - job_name: node
    static_configs:
      - targets: ["host.docker.internal:9100"]
    # Linux 下没有 host.docker.internal 时，改成宿主机 IP 或网关地址
