global: {}

route:
  receiver: "default"
  group_wait: 10s
  group_interval: 1m
  repeat_interval: 1h

receivers:
  - name: "default"
    # webhook_configs:
    #   - url: "http://host.docker.internal:5001/alert"
    #     send_resolved: true